/* Hover Effects */
/* Borders */
/* Transitions */

/* Form Font */
/* Unbounded */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

body {
    margin-left: 170px;
    background-color: lightsteelblue;
    font-family: 'Unbounded';
}

header {
    padding: 10px;
    text-align: center;
    background-color: rgba(210, 250, 249, 0.76);
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.2);
}

hr {
    background-color: rgb(7, 7, 52);
    height: 2px;
}

h1 {
    text-decoration: underline;
    font-size: 40px;
}

section[id] {
    background-color: rgba(210, 233, 250, 0.76);
    color: darkslateblue;
    border: 5px outset #ddd;
    padding: 20px;
    margin: 20px;
    margin-top: 5px;
    box-shadow: 4px 4px 4px 4px rgba(50, 50, 50, 0.6);
}

form {
    background-color: rgba(210, 250, 249, 0.76);
    color: darkslateblue;
    border: 5px outset #ddd;
    padding: 20px;
    margin: 20px;
    margin-top: 5px;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.2);
}


h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    margin-top: -5px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

label {
    font-size: 18px;
}

fieldset {
    padding-left: 20px;
    line-height: 26px;
}

input::placeholder, select {
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
}

input, textarea, button, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus, textarea:focus, option:focus {
    border-color: #4A90E2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

button {
    font-size: 24px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 3px outset #ddd;
    box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.6);
}

button a {
    width: 100%;
}

button:hover, button:visited {
    background-color: rgb(54, 5, 5);
    color: whitesmoke;
}

button:active {
    background-color: rgb(54, 5, 5);
    color: whitesmoke;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* Feedback Form */


/* Rating */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }